<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Контакты</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<body>
<div th:replace="fragments/header :: body"></div>

<div class="stars">
    <i class="star"></i><i class="star"></i><i class="star"></i><i class="star"></i><i class="star"></i>
    <i class="star"></i><i class="star"></i><i class="star"></i><i class="star"></i><i class="star"></i>
</div>


<section class="hero">
    <div class="hero-overlay"></div>

    <div class="hero-content">
        <h1 class="main-title">
            <span class="circus-text">Контакты</span>
        </h1>

        <p class="subtitle">Мы всегда рады вашим вопросам!</p>

        <div style="font-size: 1.2rem; line-height: 1.8;">
            📍 Адрес: г. Москва, ул. Цирковая, 1<br>
            ☎ Телефон: +7 (968) 722-64-65<br>
            ✉ Email: 233517@edu.fa.ru
        </div>

        <br>
        <a href="/" class="logout-btn">← На главную</a>
    </div>
</section>

</body>
</html>
